.homePageWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EEEEEE;
}

.homelogo {
  margin-bottom: 20px;
  border-radius: 15px;
}

.formWrapper {
  background-color: #31363F;
  display: flex;
  flex-direction: column;

  padding: 20px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.inputBox {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 14px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.mainLable {
  margin-top: 0;
  margin-bottom: 20px;
}


.btn {
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.joinBtn {
  background-color: aqua;
  width: 100px;
  margin-left: auto;

}

.joinBtn:hover {
  background-color: #76ABAE;
  color: aqua;
  margin-left: auto;

}

.createInfo {
  margin-bottom: 0 auto;
  margin-top: 20px;

}

.createNewbtn {
  margin-left: 10px;
  color: #00ffff;

}


.footer {
  position: fixed;
  bottom: 10px;
  color: #76ABAE;
}



.mainWrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
  color: #EEEEEE;
  height: 100vh;


}

.aside {
  background-color: #45474B;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.innerSide {
  flex: 1;
}

.clientList {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.username {
  margin-top: 10px;
}

.copyBtn {
  background-color: #86A789;
  margin-bottom: 20px;
}




.leaveBtn {
  background-color: #00ffff;

}

.copyBtn:hover, .leaveBtn:hover {
  background-color: #e2e911;

}

.editorWrap {
  background-color: #31363F;
  width: 100%;
}